@use "@/styles" as s;

.root {
  position: relative;
  width: 100%;
  //max-width: 2460px;
  height: 100%;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  //border: 1px solid blue;


  & :local {

    .grany{
      position: fixed;
      mix-blend-mode: soft-light;
      //z-index: 50;
      z-index: -1;
      pointer-events: none;
    }

    .main {
      width: 100%;
      min-height: 100vh;
    }
  }

}


