@use '@/styles' as s;

.container{
  width: 100%;
  border-radius: 30px;
  border: 3px solid rgba(22, 22, 22, 1);;
  padding: .6rem;
  background: rgb(12, 12, 12);

  // @include s.margin(top, 10rem);
  // @include s.padding(bottom, 8rem);

  & :local{

    .img{
      position: relative;
      display: block;
      border-radius: 23px;
      overflow: hidden;

      //border: 1px solid red;
      height: 27vmax;

      @include s.media-breakpoint-up(md){
        height: 20vmax;
      }

      & > *{
        display: block !important;
      }
    }

    .detail{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 .8rem;


      @include s.media-breakpoint-up(md){
        padding: 0 1rem;
      }

      .date{
        display: flex;
        align-items: center;
        gap: .5rem;
        word-spacing: -.1vmax;
        font-size: .9rem;
        color: s.$clrs-txt-dark;


        svg{
          max-width: 1.4rem;
        }

        @include s.media-breakpoint-up(md){
          word-spacing: .1vmax;
          font-size: 1rem;
        }

      }

      .topics{
        display: flex;
        font-weight: 300;
        align-items: center;
        gap: .2rem;
        big{
          color: s.$clrs-burgundy;
        }
        span{
          font-size: .9rem;
          color: s.$clrs-txt-dark;

          @include s.media-breakpoint-up(md){
            font-size: 1rem;
          }
        }
      }
    }


    .body{
      padding: .5rem;
      margin-bottom: 2rem;
      margin-top: .6rem;

      .title{
        font-weight: 900;
        font-family: s.$fonts-gramatika;
        color: #abb0b7;
        //marginbo;
      }

      .excerpt{
        font-weight: 300;
        letter-spacing: .03vmax;
        font-family: s.$fonts-sofia-pro-soft;
      }
    }
  }
}
