@use '@/styles' as s;

.container{
  position: absolute;
  left: 3rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: auto;
  background-color: rgb(30, 30, 30);
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
  padding: 2.3rem 1rem;
  border-radius: 5000px;


  // @include s.margin(top, 10rem);
  // @include s.padding(bottom, 8rem);



  svg{
    width: 100%;
    height: 100%;
  }

  & :local{

    .hidden{
      position: absolute;
      height: 0;
      width: 0;
    }

    .item{
      height: 2.5rem;
      width: 2.5rem;
      //border: 1px solid red;
      box-sizing: content-box;
      background-color: s.$clrs-black;
      border-radius: .5rem;
      padding: .2rem;
      display: grid;
      place-items: center;
      //border: 3px solid #171717;

    }

    .active{
      path{
        fill: #8D021F;
      }
    }
  }
}
